/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@700");

/* Fontawesome */
@import url("https://use.fontawesome.com/releases/v6.1.2/css/all.css");
/*Components*/
@import url("components/container.css");
@import url("components/card.css");
@import url("components/btn-primary.css");

/* Utilities */
body {
  margin: 0;
  font-family: Open Sans;
}

.flex {
  display: flex;
}

h1,
h2,
h3,
h4 {
  font-family: Poppins;
}

h2 {
  text-align: center;
}

a {
  text-decoration: none;
}

/* Custom design below! */
.banner {
  background-image: url(https://arthur-littm.github.io/startup-landing/images/background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner .container {
  color: white;
  padding: 12.5rem;
}

.banner p {
  opacity: 0.7;
  font-size: 1.25rem;
}

footer {
  background-color: #2c2b2b;
}

footer .container {
  justify-content: center;
  align-items: center;
  padding: 60px 0;
  flex-direction: column;
}

footer ul {
  list-style: none;
  display: flex;
  width: 20%;
  justify-content: space-between;
  padding: 0;
}

i {
  padding: 0;
  font-size: 2rem;
  color: #1edd88;
}

footer span {
  color: #6B6C6C;
}
